# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Excutable
maestro

# Generated datasets
*.csv
!tools/jupyter_notebook/*.csv

# SCONS temp files
.sconsign*

# OSX file system
.DS_Store

*.pyc
